# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual env
env/
venv/

# Ignore .env (contains API keys)
.env

# Ignore PyCharm / VSCode / system files
.idea/
.vscode/
.DS_Store

# Ignore compiled files & logs
*.log
